<!DOCTYPE html>
<html ng-app="http-app">
    <head>
        <title>HTTP Project</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="/main.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css"/>
        <link rel="stylesheet" href="style.css">
    </head>

    <body ng-controller="recipe as rCtrl">
        <div class="container">
        <header>
            <nav class="navbar navbar-default">
            <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <!-- Dropdown Section for Fitness iFrames -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fitness <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="//www.bodyrock.tv/workouts/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Cardio</a></li>
              <li><a href="//www.getoutdoorscolorado.org/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Outdoors</a></li>
              <li><a href="//www.bodybuilding.com" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Body-Building</a></li>
              <!-- <li><a href="//www.bodybuilding.com" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Calisthetics</a></li> -->
              <li><a href="//www.calm.com/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Meditation</a></li>
              <li><a href="//www.doyogawithme.com/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Yoga</a></li>
            </ul>
            </li>
        </ul>
<!--Search Section for Exercises-->
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Exercises">
          </div>
          <button type="submit" class="btn btn-default">Jacked Swool!</button>
        </form>

<!-- Dropdown Section for Food iFrames -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="//jesspryles.com/category/recipes/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Carnivores</a></li>
              <li><a href="//omnivorescookbook.com/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Omnivores</a></li>
              <li><a href="//pescetarian.kitchen/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Pescatarians</a></li>
              <li><a href="//www.vegweb.com/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Vegetarians</a></li>
              <li><a href="//www.vegan.com/" data-featherlight-iframe-width="1050" data-featherlight-iframe-height="800" data-featherlight="iframe">Vegan</a></li>
          </ul>
          </ul>
        </li>
      </ul>
<!--Search Option for Yummly API-->
      <form  class="navbar-form navbar-left" ng-submit="rCtrl.testAPI()">
        <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Recipes" ng-model="rCtrl.searchTerm">
                         <button type="submit" class="btn btn-default">Foodify Me!</button>

<!-- Dropdown Section for HTTP about area -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HTTP<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">Learn More</a></li>
              <li><a href="#">Join Our Cause</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Add to our Page</a></li>
              <li><a href="#">Donate Now</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



            <!-- <nav class="navbar navbar-default">
            <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
        </header>

<hr>
<br>
<hr>
    <section>
        <!-- <form ng-submit="rCtrl.testAPI()">
            <input type="text" placeholder="Search Here" ng-model="rCtrl.searchTerm">
                <button type="submit" >Get Delicious Recipes</button>
        </form> -->
                <ul>
                    <li ng-repeat="recipe in rCtrl.recipePageData">
                        <h3>{{recipe.recipeName}}:
                            <a href="{{recipe.recipeURL}}" data-featherlight-iframe-width="1000" data-featherlight-iframe-height="800" data-featherlight="iframe">Click for Recipe</a>
                        </h3>
                        <img src="{{recipe.smallImageUrls[0]}}"></img>
                        <ul>
                            <li ng-repeat="ingredient in recipe.ingredients">
                                {{ingredient}}
                            </li>
                        </ul>
                    </li>
                </ul>
                    <nav ng-if="rCtrl.recipeData.matches" aria-label="Page navigation">
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a ng-click="rCtrl.getPage(1)" href="#">1</a></li>
                        <li><a ng-click="rCtrl.getPage(2)" href="#">2</a></li>
                        <li><a ng-click="rCtrl.getPage(3)" href="#">3</a></li>
                        <li><a ng-click="rCtrl.getPage(4)" href="#">4</a></li>
                        <li><a ng-click="rCtrl.getPage(5)" href="#">5</a></li>
                        <li><a ng-click="rCtrl.getPage(6)" href="#">6</a></li>
                        <li><a ng-click="rCtrl.getPage(7)" href="#">7</a></li>
                        <li><a ng-click="rCtrl.getPage(8)" href="#">8</a></li>
                        <li><a ng-click="rCtrl.getPage(9)" href="#">9</a></li>
                        <li><a ng-click="rCtrl.getPage(10)" href="#">10</a></li>

                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
    </section>
        <footer>
            <h3>About Us</h3>
            <p>Farts taste like snozzberries</p>
            <p>Contact Us @ <a href=>clownpenis.slurprise.edu</a></p>
        </footer>
        </div>
    </body>
</html>
