/*General Style*/
body, html{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("http://www.qqxxzx.com/images/wallpaper-pattern/wallpaper-pattern-14.png");
}
/*Navbar Style*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;

}
/*Dropdown Navbar Style*/
.dropdown-menu li:hover {
    background-color:black;
}

.dropdown-menu li{
        background-color: transparent;
        transition: background-color 750ms ease-in-out;
}

@media (min-width:768px){
    .dropdown-menu li:hover {
        background-color:black;
    }
    .dropdown-menu{
            background-color: #333!important;
            transition: background-color 750ms ease-in-out;

    }
    .dropdown-menu li a{
        color:white;
        background-color:black;
    }
}
/*Loading Image Style*/
#loading img{
    border-radius: 200px;
    width:250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loading{
    position: absolute;
    z-index:10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
/*Pagination Style*/
#paginator .numbackground{
    background-color: #222;
    color: white;
    border-color: darkgrey;
}
/*Carousel Image*/
img{
    margin:auto;
    border-radius: 15px;
    border: 2px solid white;
}
