<!DOCTYPE html>
<html ng-app="Countries">
    <head>
        <title>Ajax-Countries</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="./index.js"></script>
    </head>
    <body ng-controller="countryController as cCtrl">
        <form action="/search" method="get">
            <input type="text" name="name" ng-model="cCtrl.searchCountries" placeholder="Enter Country Name">
            <button ng-click="cCtrl.getcountries()" type="submit">Load Country</button>
        </form>
        {{cCtrl.countries}}
    </body>
</html>
