<!DOCTYPE html>
<html ng-app='introAngular'>
    <head>
        <title>Intro to Angular</title>
        <script src= 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
        <script src='main.js'></script>
    </head>
    <body ng-controller='appController as aCtrl'>
        <button ng-click='aCtrl.buttonOne()' type="button">Click me!!</button>
        <h1 ng-if='aCtrl.h1'>
            Thank you!!
        </h1>

        <button ng-click='aCtrl.buttonTwo()' type="button">Do it!!</button>
        <ul ng-if='aCtrl.ul'>
            <li>Stuff</li>
            <li>Stuffed</li>
            <li>Snuffed</li>
        </ul>
        <h2 ng-click='aCtrl.h2'>Random Heading for Your Pleasure</h2>
        <p ng-mouseover='aCtrl.pOne'>
            Pellentesque dignissim quam ex, eu fermentum nunc rutrum vitae. Nulla nec tincidunt enim. Nulla commodo viverra placerat. Etiam eget <br>
            pharetra est, vel bibendum est. Integer id lorem volutpat, molestie felis ut, cursus orci. Morbi blandit turpis sed purus pellentesque, a <br>
            volutpat elit varius. In molestie tempus nisi, nec tincidunt quam tincidunt at. Aenean consectetur at tortor quis consectetur. Curabitur <br>
            gravida sapien sapien, pharetra interdum neque pretium eget.
        </p>
        <a href="//donaldjtrump.com">Your friend in the end</a>
        <h2 ng-click='aCtrl.h2'>2nd Random Heading for Your Pleasure</h2>
        <p ng-mouseover='aCtrl.pTwo'>
            Pellentesque dignissim quam ex, eu fermentum nunc rutrum vitae. Nulla nec tincidunt enim. Nulla commodo viverra placerat. Etiam eget <br>
            pharetra est, vel bibendum est. Integer id lorem volutpat, molestie felis ut, cursus orci. Morbi blandit turpis sed purus pellentesque, a <br>
            volutpat elit varius. In molestie tempus nisi, nec tincidunt quam tincidunt at. Aenean consectetur at tortor quis consectetur. Curabitur <br>
            gravida sapien sapien, pharetra interdum neque pretium eget.
        </p>
        <a href="//donaldjtrump.com">Pledge your alligience</a>
    </body>
</html>
