<!DOCTYPE html>
<html ng-app="monkey">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="main.js"></script>
    </head>
<!--Button 1 Toggle-->
    <body ng-controller="gorilla as g">
        <button ng-click="g.chimp()" type="button">Click Me!</button>
        <h1 ng-if="g.h1">
            <p>You've revealed my trap card</p>
        </h1>
<!--Button 2 Toggle-->
        <button ng-click="g.orangutan()" type="button">Another Button!</button>
        <div ng-if="g.div">
            <p>Here is some gibberish for you to consider</p>
            <ul>
                <li>Some Crap</li>
                <li>More Crap</li>
                <li>Even More Crepes</li>
            </ul>
        </div>

    </body>
</html>
