///////////////////////////////
///Style Contents Gold-Rush////
///////////////////////////////

img{
    width:100%;
    height:100%;
};

.marker {
    width: 20px;
    height: 20px;

}

#markers {
    position: relative;
}

#map {
    width: 1600px;
}
