

.jumbotron{
    background-color:transparent;
    color: white;
}

html body{
    background-image: url("http://wallpapercave.com/wp/uCtCeTs.jpg");
}

form {
    margin-top: 10%;
    margin-left: 23%;
    margin-right:25%;
    width: 100%;
}

section{
    margin-top:20%;
    color: white;
}

.btn{
    background: alpinewhite;
    color:forestgreen;

}
